# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Secrets
*.key
*.pem
secrets/
.env.local

# Logs
*.log
logs/

# Desktop application
app/node_modules/
app/.npm-cache/
app/.electron-cache/
app/.local-app-data/
app/dist/
app/release/
